* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  color: white;
  background-color: #1b1b32;
  font-family: Roboto, sans-serif;
  margin-top: 40px;
}

.App {
  font-family: 'Roboto', sans-serif;
  min-height: 70vh;
}

@media screen and (min-width: 320px) and (max-width: 1840px) {
  .App {
    min-height: 75vh;
  }
}

h1 {
  color: #1b1b32;
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin: 20px 0;
}

.aplicacion-tareas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: auto;
}

/* Logo de freecodecamp */
.freecodecamp-logo-contenedor {
  width: 100%;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: bold;
}

/* Lista de Tareas: */
.tareas-lista-principal {
  width: 40%;
  min-height: 500px;
  background-color: rgba(220, 215, 215, 0.817);
  padding: 25px;
  margin: 10px;
  border-radius: 0;
}

@media (max-width: 768px) {
  .tareas-lista-principal {
    width: 80%;
  }
}
