.footer {
  box-shadow: inset 100px 100px 400px 110px rgba(0, 0, 0, 0.6);
  color: #fff;
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  display: 'flex';
  flex-direction: column;
  justify-content: 'space-around';
  align-items: 'center';
  width: 100vw;
  margin-top: 5vh;
  position: relative;
  bottom: 0;
}

.copyright {
  text-align: center;
  font-size: 14px;
}

.icon_footer {
  color: #fff;
  background: rgb(57, 55, 55);
  width: 4.5rem;
  height: 4.5rem;
  margin: 2%;
  cursor: pointer;
}

.icon_footer:hover {
  background-color: white;
  color: black;
  transition: all 0.5s ease-in-out;
}

/* responsive footer for cellphone: */
@media screen and (max-width: 390px) {
  .icon_footer {
    width: 2.5rem;
    height: 2.5rem;
  }
}
