.navbar_container {
  width: 100%;
  font-size: 20px;
  background: rgba(0, 0, 0, 0.4);
  padding: 2rem;
  color: white;
  position: fixed;
  top: 0px;
}

@media (max-width: 768px) {
  .navbar_container {
    background: transparent;
  }
}
